@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.counters{
  color:black;
}

.answer-accepted{
  color:darkseagreen;

}

.answered{
  color:lightskyblue
}

.unanswered{
  color:yellowgreen
}